{
    debug
    auto_https off
    order coraza_waf first
}

:8080 {
	coraza_waf {
		directives `
			SecAction "id:149,pass,log, msg:'Some test msg',logdata:'logdata'"
			SecRule REQUEST_URI "test5" "id:2, deny, log, phase:1,status:403"
			SecRule REQUEST_URI "test6" "id:4, deny, log, phase:3,status:403"
		`
		include test/sample1.conf
		include test/sample2.conf
	}
	header * x-request-id "{http.transaction_id}"
	respond "test123"
}