services:
  httpbin:
    image: mccutchen/go-httpbin:v2.14.0
    environment:
      - MAX_BODY_SIZE=15728640 # 15 MiB
    command: [ "/bin/go-httpbin", "-port", "8081" ]
    ports:
      - 8081:8081

  chown:
    image: alpine:3.20
    command:
      - /bin/sh
      - -c
      - chown -R 101:101 /home/caddy/logs
    volumes:
      - logs:/home/caddy/logs:rw

  caddy:
    depends_on:
      - httpbin
    build:
      context: ..
      dockerfile: ./example/Dockerfile
    volumes:
      - logs:/home/caddy/logs:rw
    ports:
      - 8080:8080
    environment:
      - HTTPBIN_HOST=httpbin

  caddy-logs:
    depends_on:
      - caddy
      - coraza-logs
    image: debian:12-slim
    entrypoint: bash
    command:
      - -c
      - tail -c +0 -f /home/caddy/logs/caddy.log
    volumes:
      - logs:/home/caddy/logs:ro

  coraza-logs:
    depends_on:
      - caddy
    image: debian:12-slim
    entrypoint: bash
    command:
      - -c
      - tail -c +0 -f /home/caddy/logs/caddy.log | grep --line-buffered "http.handlers.waf"
    volumes:
      - logs:/home/caddy/logs:ro

volumes:
  logs:
