services:
  httpbin:
    image: mccutchen/go-httpbin:v2.16.1
    environment:
      - MAX_BODY_SIZE=15728640 # 15 MiB
    command: [ "/bin/go-httpbin", "-port", "8081" ]
    ports:
      - 8081:8081

  caddy:
    depends_on:
      - httpbin
    build:
      context: ..
      dockerfile: ./example/Dockerfile
    volumes:
      - ./logs:/home/coraza/logs:rw
      - ./403.html:/etc/caddy/custom-pages/403.html:ro
    ports:
      - 8080:8080
    environment:
      - HTTPBIN_HOST=httpbin
