{
    admin localhost:2999
    debug
    auto_https off
    order coraza_waf first
    servers {
        # Enable trusted_proxies to make Caddy populate client_ip variable from X-Forwarded-For header, in the case Caddy is behind a reverse proxy
        # See : https://caddyserver.com/docs/caddyfile/options#trusted-proxies
        trusted_proxies static private_ranges
    }
}

:8080 {
	coraza_waf {
		directives `
			SecAction "id:149,pass,log, msg:'Some test msg',logdata:'logdata'"
			SecRule REQUEST_URI "test5" "id:2, deny, log, phase:1,status:403"
			SecRule REQUEST_URI "test6" "id:4, deny, log, phase:3,status:403"
			SecRule REMOTE_ADDR "@ipMatch 127.0.0.2" "id:5, deny, log, phase:1,status:403"
			Include testdata/sample1.conf
			Include testdata/sample2.conf
		`
	}
	header * x-request-id "{http.transaction_id}"
	respond "test123"
}
