services:
  backend:
    image: ghcr.io/coreruleset/albedo:0.3.0
    command: ["--port", "8081"]
    ports:
      - 8081:8081

  chown:
    image: alpine:3.22
    command:
      - /bin/sh
      - -c
      - touch /home/caddy/logs/caddy.log && chown -R 101:101 /home/caddy/logs
    volumes:
      - logs:/home/caddy/logs:rw

  caddy:
    depends_on:
      - chown
      - backend
    build:
      context: ..
      dockerfile: ./ftw/Dockerfile.caddy
    volumes:
      - ../build:/build
      - .:/conf
      - logs:/home/caddy/logs:rw
    ports:
      - 8080:8080

  coraza-logs:
    depends_on:
      - caddy
    image: debian:13-slim
    entrypoint: bash
    command:
      - -c
      - tail -c +0 -f /home/caddy/logs/caddy.log | grep --line-buffered -P '\t(\x1B\[[\d;]+m)?(ERROR|WARN|INFO)(\x1B\[0m)?\thttp.handlers.waf' > /home/caddy/logs/ftw.log
    volumes:
      - logs:/home/caddy/logs:rw

  caddy-logs:
    depends_on:
      - caddy
    image: debian:13-slim
    entrypoint: bash
    command:
      - -c
      - tail -c +0 -f /home/caddy/logs/caddy.log > /build/ftw-caddy.log
    volumes:
      - logs:/home/caddy/logs:ro
      - ../build:/build

  ftw:
    depends_on:
      - caddy-logs
      - coraza-logs
    build:
      context: .
      dockerfile: Dockerfile.ftw
    environment:
      - FTW_CLOUDMODE
      - FTW_INCLUDE
      - FTW_DEBUG
    volumes:
      - logs:/home/caddy/logs:ro
      - ../build:/build
volumes:
  logs:
