name: Lint (pre-commit)

on:
  pull_request:
  push:
    branches:
      - "main"
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.x
          cache: true

      - run: go run mage.go lint
