name: Nightly Caddy
on:
  pull_request:
    paths:
      - ".github/workflows/nightly-caddy.yaml"
  schedule:
    - cron: "0 4 * * *"

jobs:
  nightly:
    strategy:
      matrix:
        go-version: [1.18.x]
        os: [ubuntu-latest]
        xcaddy-version: [v0.3.2]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          lfs: true
          fetch-depth: 0 #for better blame info
      - name: Install xcaddy
        run: go install github.com/caddyserver/xcaddy/cmd/xcaddy@${{ matrix.xcaddy-version }}
      - name: Build caddy
        run: CADDY_VERSION=master go run mage.go buildCaddyLinux
      - name: Run e2e tests
        run: go run mage.go e2e
