name: Tests

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - "**/*.md"
      - "LICENSE"
  pull_request:
    paths-ignore:
      - "**/*.md"
      - "LICENSE"

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.22.x]
        os: [ubuntu-latest]
        xcaddy-version: [v0.3.5]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          lfs: true
          fetch-depth: 0 #for better blame info

      - name: Tests and coverage
        run: go run mage.go coverage

      - name: Install xcaddy
        run: go install github.com/caddyserver/xcaddy/cmd/xcaddy@${{ matrix.xcaddy-version }}

      - name: Build caddy
        run: go run mage.go buildCaddyLinux

      - name: Run e2e tests
        run: go run mage.go e2e

      - name: Run regression tests (ftw)
        run: go run mage.go ftw

      - uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: ftw-caddy-logs
          path: build/ftw-caddy.log
